.input_message {
    position: fixed;
    top: 50%;
    left: 10%;
    width: 200px;
}

.write {
    position: fixed;
    top: 50%;
    left: 20%;
}

.messenger {
    border: 2px solid #000000;
    width: 95%;
    height: 500px;
}

.message {
    padding: 10px;
    border: 2px solid #000000;
    margin: 10px;
    position: relative;
    height: 10%;
}

.time {
    position: absolute;
    left: 80%;
}

.location {
    position: absolute;
    top: 75%;
}
.modal {
    border: 2px solid #000000;
    width: 300px;
    height: 170px;
    margin: auto;
    text-align: center;
    padding: 10px;
    position: absolute;
    display: none;
    flex-direction: column;
    top: 40%;
    left: 40%;
    opacity: 100%;
    background: #ffffff;
}